<!-- ====== FAQ Section Start -->
<section
   x-data="
   {
   openFaq1: false,
   openFaq2: false,
   openFaq3: false,
   openFaq4: false,
   openFaq5: false,
   openFaq6: false
   }
   "
   class="relative z-20 overflow-hidden bg-white pb-12 lg:pt-[12rem] lg:pb-[9rem] min-h-[70vh]"
   >
   <div class="mx-16 md:max-w-7xl md:mx-auto -mt-16">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div class="mx-auto mb-[60px] max-w-[520px] text-center lg:mb-20">
               <span class="block mb-2 text-lg font-semibold text-primary">
               FAQ
               </span>
               <h2
                  class="text-dark mb-4 text-3xl font-bold sm:text-[40px]/[48px]"
                  >
                  Any Questions? Look Here
               </h2>
               <p class="text-base text-body-color ">
                  There are many variations of passages of Lorem Ipsum available
                  but the majority have suffered alteration in some form.
               </p>
            </div>
         </div>
      </div>
         <div class="w-full grid grid-cols-2 gap-8">
            <div  *ngFor="let f of getFaqs()" [id]="f.id"
               class="w-full p-4 mb-8 bg-white rounded-lg shadow-[0px_20px_95px_0px_rgba(201,203,204,0.30)] sm:p-8 lg:px-6 xl:px-8"
               >
               <button
                  class="flex w-full text-left faq-btn"
                  >
                  <div
                     class="bg-primary/5 text-primary mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg"
                     >
                     <svg
                        :class="openFaq1 && 'rotate-180'"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                           d="M11 15.675C10.7937 15.675 10.6219 15.6062 10.45 15.4687L2.54374 7.69998C2.23436 7.3906 2.23436 6.90935 2.54374 6.59998C2.85311 6.2906 3.33436 6.2906 3.64374 6.59998L11 13.7844L18.3562 6.53123C18.6656 6.22185 19.1469 6.22185 19.4562 6.53123C19.7656 6.8406 19.7656 7.32185 19.4562 7.63123L11.55 15.4C11.3781 15.5719 11.2062 15.675 11 15.675Z"
                           fill="currentColor"
                           />
                     </svg>
                  </div>
                  <div class="w-full">
                     <h4
                        class="mt-1 text-lg font-semibold text-dark "
                        >
                        {{f.question}}
                     </h4>
                  </div>
               </button>
               <div x-show="openFaq1" class="faq-content pl-[62px]">
                  <p
                     class="py-3 text-base leading-relaxed text-body-color "
                     >
                     {{f.answer}}
                  </p>
               </div>
            </div>
         </div>
      </div>
</section>
<!-- ====== FAQ Section End -->
