<div class="h-screen w-screen">
<div class="flex h-full mt-32">
  <div class="grow-0 h-full">
  <div class="fixed bg-white w-64 h-full hidden md:block shadow-2xl z-30">

    <!-- Brand Logo / Name -->
    <div class="flex items-center px-6 py-3 h-16">
      <div class="text-2xl font-bold tracking-tight text-gray-800">My Profile</div>
    </div>
    <!-- @end Brand Logo / Name -->

    <div class="px-4 py-2">
      <ul>
        <li>
          <a routerLink="/profile"
            class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:bg-gray-200">
            <i class="fa-solid fa-user text-gray-400 text-3xl mr-6"></i>
            Profile
          </a>
        </li>

        <li>
          <a routerLink="/profile/order"
            class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:bg-gray-200">
            <i class="fa-solid fa-paper-plane text-gray-400 text-3xl mr-6"></i>
            Orders
          </a>
        </li>

        <li>
          <a routerLink="/profile/cart"
            class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:bg-gray-200">
            <i class="fa-solid fa-bag-shopping text-gray-400 text-3xl mr-6"></i>
            Carts
          </a>
        </li>

        <li>
          <a routerLink="/profile/fav"
            class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:bg-gray-200">
            <i class="fa-solid fa-heart text-gray-400 text-3xl mr-6"></i>
            Favorites
          </a>
        </li>

        <li>
          <a routerLink="/profile/settings"
            class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:bg-gray-200">
            <i class="fa-solid fa-gear text-gray-400 text-3xl mr-6"></i>
            Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="grow h-full md:ml-64">
    <div class="-mt-32">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>

