<div class="bg-white">
  <div>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24 ">
        <div class="w-full flex flex-row gap-10 items-end">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 min-w-96">
            <span>Product List</span>
          </h1>
          <div class="text-xl pl-20 w-full flex justify-between items-center">
            <p *ngIf="query.length>0 && products.length!=0">Products are being listed for the “<span class="font-bold">{{query}}</span>” search.</p>
          <p *ngIf="query.length>0 && products.length==0">No results found for the “<span class="font-bold">{{query}}</span>” search.</p>
          <span *ngIf="query.length>0" routerLink="/product/product-list/0" class="border p-3 px-5 cursor-pointer text-sm rounded-lg ml-10">Clear Query</span>
          </div>
        </div>
      </div>
      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <div class="flex flex-col md:flex-row">

          <div>
          <div class="lg:hidden mt-6
          md:max-h-full max-h-96 pb-6 px-6" *ngIf="toggleValue">
            <a>
              <div class="flex justify-between p-3 rounded-lg shadow-md border min-w-[23rem]" (click)="showOrHide(toggleValue)" >Close Tab
                <i class="fa-solid fa-xmark mr-2 text-xl"></i> </div>
            </a>
          </div>
          @defer ()  {
          <div class="px-4 py-2 mt-1 lg:hidden
          md:max-h-full max-h-96  overflow-scroll"  *ngIf="toggleValue">
            <categories (categoryId)="getrouterId($event)" [params]="query"/>
          </div>
          <div class="hidden lg:block">
            <categories (categoryId)="getrouterId($event)" [params]="query"/>
          </div>
          } @placeholder (minimum 1s) {
            <div class="pt-10 flex justify-center items-center">
              <i class="fa-solid fa-spinner text-5xl animate-spin text-gray-500 mr-5"></i> Loading..
            </div>
          }
        </div>
        <div class="w-full">
          <div class="w-full mt-20 md:mt-5 min-h-[68vh] lg:pl-10">
            <!-- Your content -->
            @defer ()  {
              <div class="grid gap-x-6 gap-y-10 grid-cols-2 md:grid-cols-3 xl:gap-x-8">
                <product *ngFor="let prd of products" [product]="prd"/>
              </div>
              <div *ngIf="products.length == 0" class="px-5">
                <div class="bg-gray-50 p-10 w-full text-center rounded-md shadow border">
                  <i class="fa-solid fa-xmark mr-2"></i>
                  <span class="font-bold">{{query}}</span> No products available.
                </div>
              </div>
            } @placeholder (minimum 1s) {
              <div class="pt-10 flex justify-center items-center">
                <i class="fa-solid fa-spinner text-5xl animate-spin text-gray-500 mr-5"></i> Loading..
              </div>
            }
          </div>

          <div class="pl-10">
            <pagination (newPageNumber)="getPageNumber($event)"
            [pageNumber]="pageNumber" [pageTotal]="pageTotal"
            *ngIf="products.length != 0 && pageTotal>1"/>
          </div>
        </div>
        </div>
      </section>
    </main>
  </div>
</div>
<recently-viewed/>
<div class="border rounded-xl -ml-1 p-5 fixed top-32 left-0 bg-white text-end z-50  lg:hidden block cursor-pointer shadow-lg scroll" (click)="showOrHide(toggleValue)" *ngIf="!toggleValue">
  <i class="fa-solid fa-chevron-right text-3xl"></i>
</div>

