
<div class="flex md:flex-row flex-col h-full">
  <div class="relative border-r-2 box-content shadow-lg">
  <div class="min-w-96" *ngIf="toggleValue">
    <sidebar-item/>
  </div>
    <div class="border rounded-xl -ml-1 px-4 pl-5 py-6 absolute bg-white text-end z-50 cursor-pointer shadow-lg  border-gray-300 hidden md:block top-80 -right-12"
    (click)="showOrHide(toggleValue)" >
      <i class="fa-solid fa-chevron-right text-3xl" *ngIf="!toggleValue"></i>
      <i class="fa-solid fa-chevron-left text-3xl" *ngIf="toggleValue"></i>
    </div>
    <div class="border rounded-xl -ml-1 py-2 px-7 bg-white text-end cursor-pointer shadow-lg  border-gray-300 md:hidden block left-1/2 -bottom-12 absolute z-10"
    (click)="showOrHide(toggleValue)">
      <i class="fa-solid fa-chevron-down text-3xl" *ngIf="!toggleValue"></i>
      <i class="fa-solid fa-chevron-up text-3xl" *ngIf="toggleValue"></i>
    </div>
  </div>
  <div class="bg-gray-100 w-full overflow-scroll">
    <router-outlet></router-outlet>
  </div>
</div>


