<div class="min-h-[90vh] mt-32 mx-auto max-w-7xl">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5 mt-24">All Orders</h1>
  <hr class="divide">
  <section aria-labelledby="products-heading" class="pt-6 pb-24">

      <div class="flex px-8 pb-5">
        <div class="inline-flex rounded-md bg-gray-50 px-3 py-2 font-medium text-gray-700 ring-1 ring-inset ring-gray-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-box"></i> All</div>
        <div class="inline-flex rounded-md bg-blue-50 px-3 py-2 font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-spinner"></i> In Progress</div>
        <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
        <div class="inline-flex rounded-md bg-yellow-50 px-3 py-2 font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-undo"></i> Returns</div>
        <div class="inline-flex rounded-md bg-red-50 px-3 py-2 font-medium text-red-700 ring-1 ring-inset ring-red-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-ban"></i> Cancellations</div>
      </div>
      <div class="bg-white w-full mx-auto">
        <ul class="shadow-box">

          <!-- Accordion Item -->
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(1)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion1"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                    <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(2)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion2"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-red-50 px-3 py-2 font-medium text-red-700 ring-1 ring-inset ring-red-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-ban"></i> Cancellations</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(3)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion3"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-yellow-50 px-3 py-2 font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-undo"></i> Returns</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(4)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion4"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-blue-50 px-3 py-2 font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-spinner"></i> In Progress</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(5)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion5"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(6)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion6"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(7)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion7"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(8)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion8"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-green-50 px-3 py-2 font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mb-3"><i class="mt-1 mr-2 fa-solid fa-check"></i> Delivered</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="-mt-5">
            <button
              type="button"
              class="accordion-button "
              onclick="toggleAccordion(9)">
              <div class="flex w-full bg-gray-100 p-10 rounded-lg">
                <div class="basis-1/5">
                  <div class="font-semibold">Order Date</div>
                  <div>November 10, 2024 - 13:17</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Order Summary</div>
                  <div>1 Delivery, 1 Product</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Recipient</div>
                  <div>AYŞENUR AYDIN</div>
                </div>
                <div class="basis-1/5">
                  <div class="font-semibold">Total</div>
                  <div>5,003.79 TL</div>
                </div>
                <div class="basis-1/5">
                  <a routerLink="/order/order-details" class="inline-block w-full text-center bg-gray-700 text-white p-3 rounded-md">Order Details</a>
                </div>
              </div>
            </button>
            <div
              id="accordion9"
              class="relative overflow-hidden transition-all max-h-0 duration-700 px-10">
              <div class="p-6 flex">
                <div class="w-full">
                  <div class="inline-flex rounded-md bg-blue-50 px-3 py-2 font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20 mb-3 mx-2"><i class="mt-1 mr-2 fa-solid fa-spinner"></i> In Progress</div>
                  <div>1 product was delivered on November 12.</div>
                </div>
                <div class="w-full">
                  <ul class="flex">
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                    <li class="mx-1"><img src="https://tailwindui.com/plus/img/ecommerce-images/category-page-04-image-card-01.jpg" class="aspect-square h-20 rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/8] "></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </section>
</div>
