<div class="min-h-[100vh]">
<div class="md:max-w-6xl py-8  mx-auto">
  <div class="mt-10">
    <div class="accordion-button p-0 border-b">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">
          <i class="fa-solid fa-circle-info text-gray-400 text-3xl mr-6"></i>Informations</h1>
    </div>
  </div>
</div>
<div class="md:max-w-6xl pb-8  mx-auto">
  <ul>
    <li class="mt-10">
      <div class="accordion-button p-0 border-b">
        <div class="flex w-full justify-between items-center rounded-lg" onclick="toggleAccordion(1)">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">About</h1>
          <div class="block px-5 py-3 mr-5 text-sm hover:text-white hover:bg-gray-700 border rounded-md text-center hover:cursor-pointer bg-white">
            Edit  <i class="fa-solid fa-edit pl-1"></i>
          </div>
        </div>
      </div>
      <div
        id="accordion1"
        class="relative transition-all max-h-screen duration-700 px-10  pt-10">
          <div class="bg-white p-10 rounded-2xl shadow-lg mx-10">
            <cktext [(content)]="about.message" (contentChange)="onMessageChange($event)"/>
            <button class="block px-4 py-2 mt-3 text-sm bg-gray-200 border rounded-md text-center w-full hover:bg-white hover:cursor-pointer" (click)="saveAbout(about)"> Save <i class="fa-regular fa-floppy-disk"></i> </button>
          </div>
      </div>
    </li>

    <!-- <li class="mt-10">
      <div class="accordion-button p-0 border-b">
        <div class="flex w-full justify-between items-center rounded-lg overflow-hidden" onclick="toggleAccordion(2)">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">About</h1>
          <div class="block px-5 py-3 mr-5 text-sm hover:text-white hover:bg-gray-700 border rounded-md text-center hover:cursor-pointer bg-white">
            Edit  <i class="fa-solid fa-edit pl-1"></i>
          </div>
        </div>
      </div>
      <div
        id="accordion2"
        class="relative transition-all max-h-[100vh] px-20 pt-10">
          <span>
            <div class="bg-white p-10 rounded-2xl shadow-lg">
              <cktext [(content)]="about.message" (contentChange)="onMessageChange($event)"/>
              <button class="block px-4 py-2 mt-3 text-sm bg-gray-200 border rounded-md text-center w-full hover:bg-white hover:cursor-pointer" (click)="saveAbout(about)"> Save <i class="fa-regular fa-floppy-disk"></i> </button>
            </div>
          </span>
      </div>
    </li> -->

    <li class="mt-10">
      <div class="accordion-button p-0 border-b">
        <div class="flex w-full justify-between items-center rounded-lg" onclick="toggleAccordion(3)">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">Faqs</h1>
          <div class="block px-5 py-3 mr-5 text-sm hover:text-white hover:bg-gray-700 border rounded-md text-center hover:cursor-pointer bg-white">
            Edit  <i class="fa-solid fa-edit pl-1"></i>
          </div>
        </div>
      </div>
      <div
        id="accordion3"
        class="relative overflow-hidden transition-all max-h-0 duration-700">
          <div class="flex overflow-y-auto scrollbar-hide mx-10">
              <span class="w-full p-10">
                <div class="bg-white rounded-2xl shadow-lg p-10">
                  <div class="bg-white p-10 rounded-2xl">
                    <input type="hidden" [(ngModel)]="faq.id">
                    <input type="text" name="" id="" class="w-full border p-2 my-1 mb-2 rounded-md" placeholder="question" [(ngModel)]="faq.question">
                    <textarea name="adress" id="adress" class="w-full border p-3 my-1 rounded-lg" placeholder="Adress" rows="4" [(ngModel)]="faq.answer"></textarea>
                  </div>
                  <div class="flex mt-3">
                  <button class="px-4 py-2 text-sm text-gray-700 hover:bg-white bg-gray-200 border rounded-md text-center w-full mx-1 p-1" (click)="saveFaq(faq)">
                    <ng-container *ngIf="faq.id; else addButton">
                      Edit Question<i class="fa-solid fa-pen-to-square ml-1"></i>
                    </ng-container>
                    <ng-template #addButton>
                      Add Question<i class="fa-solid fa-add ml-3"></i>
                    </ng-template>
                  </button>
                  <button class="px-4 py-2 text-sm text-gray-700 hover:bg-white bg-gray-200 border rounded-md text-center w-full mx-1 p-1" (click)="cancel()">
                      Cancel Question<i class="fa-solid fa-cancel ml-1"></i>
                  </button>
                  </div>
                </div>
                <div class="faq-list pt-10">
                  <ul class="max-h-[25rem] overflow-scroll">
                    <li *ngFor="let f of getFaqs()">
                      <div class="flex shadow-lg my-5 m-1 border p-2 rounded-md bg-white" [id]="f.id">
                        <div class="w-3/4 pl-5 my-2 border-gray-600">
                          <h1 class="font-semibold text-lg">{{f.question}}</h1>
                          <p class="text-gray-600">{{f.answer}}</p>
                        </div>
                        <div class="w-1/4 flex items-center justify-end pr-4">
                          <button class="inline-block mx-1 px-2 py-2 text-sm text-gray-700 hover:bg-white bg-gray-200 hover:border rounded-md text-center w-14" (click)="editFaq(f.id)">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                          <button class="inline-block mx-1 px-2 py-2 text-sm text-gray-700 hover:bg-white bg-gray-200 hover:border rounded-md text-center w-14" (click)="deleteFaq(f.id)">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="getFaqs().length == 0">
                      <div class="p-6 bg-gray-100">
                      <i class="fa-solid fa-xmark"></i>
                      No faqs available.
                      </div>
                    </li>
                  </ul>
                </div>
              </span>
          </div>
      </div>
    </li>
    <li class="mt-16">
      <div class="accordion-button p-0 border-b">
        <div class="flex w-full justify-between items-center rounded-lg" onclick="toggleAccordion(4)">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">İnfo</h1>
          <div class="block px-5 py-3 mr-5 text-sm hover:text-white hover:bg-gray-700 border rounded-md text-center hover:cursor-pointer bg-white">
            Edit <i class="fa-solid fa-edit pl-1"></i>
          </div>
        </div>
      </div>
      <div
        id="accordion4"
        class="relative overflow-hidden transition-all max-h-0 duration-700 px-10  pt-10">
        <div class="p-10 w-full mx-auto">
          <div class="bg-white p-10 rounded-2xl shadow-lg">
            <div class="flex">
              <label for="email" class="w-1/6 pt-3">Email</label>
              <input type="text" name="email" id="email" class="border p-3 my-1 w-5/6 rounded-md " placeholder="Email" [(ngModel)]="info.email">
            </div>
            <div class="flex">
              <label for="pNum" class="w-1/6 pt-3">Phone Number</label>
              <input type="text" name="pNum" id="pNum" class="w-5/6 border p-3 my-1 rounded-md " placeholder="Phone Number" [(ngModel)]="info.phoneNumber">
            </div>
            <div class="flex">
              <label for="adress" class="w-1/6 pt-3">Adress</label>
              <div class="w-5/6 my-1 rounded-lg">
                <textarea class="w-full pt-3 border h-20 overflow-scroll" [(ngModel)]="info.adress"></textarea>
              </div>
            </div>
            <div class="flex">
              <label class="w-1/6"></label>
              <button class="block px-4 mt-3 py-2 text-sm hover:bg-white rounded-md text-center w-5/6 text-gray-700  bg-gray-200 border" (click)="saveInfo(info)">
                Save <i class="fa-regular fa-floppy-disk"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="mt-10">
      <div class="accordion-button p-0 border-b">
        <div class="flex w-full justify-between items-center rounded-lg" onclick="toggleAccordion(5)">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">Social Media</h1>
          <div class="block px-5 py-3 mr-5 text-sm hover:text-white hover:bg-gray-700 border rounded-md text-center hover:cursor-pointer bg-white">
            Edit  <i class="fa-solid fa-edit pl-1"></i>
          </div>
        </div>
      </div>
      <div
        id="accordion5"
        class="relative overflow-hidden transition-all max-h-0 duration-700 px-10  pt-10">
        <div class="p-10 w-full mx-auto">
          <div class="bg-white p-10 rounded-2xl shadow-lg">
            <div class="flex">
              <label for="email" class="w-1/6 pt-3">İnstagram</label>
              <input type="text" name="email" id="email" class="border p-3 my-1 w-5/6 rounded-md " placeholder="Email" [(ngModel)]="socialMedia.instagram">
            </div>
            <div class="flex">
              <label for="pNum" class="w-1/6 pt-3">Facebook</label>
              <input type="text" name="pNum" id="pNum" class="w-5/6 border p-3 my-1 rounded-md " placeholder="Phone Number" [(ngModel)]="socialMedia.facebook">
            </div>
            <div class="flex">
              <label for="pNum" class="w-1/6 pt-3">Twitter</label>
              <input type="text" name="pNum" id="pNum" class="w-5/6 border p-3 my-1 rounded-md " placeholder="Phone Number" [(ngModel)]="socialMedia.twitter">
            </div>
            <div class="flex">
              <label for="pNum" class="w-1/6 pt-3">Githup</label>
              <input type="text" name="pNum" id="pNum" class="w-5/6 border p-3 my-1 rounded-md " placeholder="Phone Number" [(ngModel)]="socialMedia.githup">
            </div>
            <div class="flex">
              <label class="w-1/6"></label>
              <button class="block px-4 py-2 text-sm hover:white border rounded-md text-center w-5/6 hover:bg-white bg-gray-200 text-gray-700 hover:border"  (click)="saveSocialMedia(socialMedia)">
                Save <i class="fa-regular fa-floppy-disk"></i>
              </button>
            </div>
          </div>


        </div>
      </div>
    </li>
  </ul>
</div>
</div>
