<div class="min-h-[70vh] mt-32 mx-auto max-w-7xl">
  <div class="rounded-xl bg-gray-100 p-20 border mx-40 mt-32 md:mt-96 shadow-lg">
      <div class="mt-5">
        <div class="text-center">
          <i class="fa-solid fa-circle-check text-gray-300 d-block m-2 text-[10rem] md:text-[15rem] border rounded-full shadow-lg"></i>
          <h3 class="text-gray-500 p-2 text-2xl">Your Order is Completed!
          </h3>
        </div>
      </div>
      <div class="my-4 text-center mt-10">
        Your order has been successfully received! <br />
        If you have any issues, you can contact our Customer Relations department.<br />
        Thank you for shopping with us!

        <div class="flex justify-center mt-10">
          <a routerLink="/order" class="inline-block p-3 px-4 border bg-gray-700 hover:bg-gray-500 text-white mx-2 rounded-full font-bold  hover:cursor-pointer">
            <i class="fa-solid fa-boxes-stacked mr-2"></i>See All Orders!</a>
          <a routerLink="/order/order-details/{{id}}" class="inline-block p-3 px-4 border bg-gray-700 hover:bg-gray-500 text-white mx-2 rounded-full font-bold hover:cursor-pointer">
            <i class="fa-solid fa-box mr-2"></i>Go Order</a>
        </div>
      </div>
    </div>
</div>


