<div class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4">
  <div class="w-full  flex items-center justify-between">
      <div (click)="goPage(pageNumber-1)" class="text-gray-600 hover:text-gray-700 cursor-pointer">
          <button [disabled]="pageNumber==1"  class="flex items-center" >
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
              <p class="text-sm ml-3 font-medium leading-none ">Previous</p>
          </button>
      </div>
      <div class="flex justify-center">
        <div class="flex"  *ngFor="let _ of [].constructor(pageNumber-1) let i = index">
          <div (click)="goPage(i+1)" *ngIf="i<2 || i>pageNumber-4" class="hover:border-b  cursor-pointer hover:text-gray-700 hover:border-gray-400 py-3 mr-4 px-4">{{i+1}}</div>
            <div class="w-5 mt-4" *ngIf="i==3 && pageNumber>5 && (i>2 || i<pageNumber-3)" [ngClass]="{'hidden': false}"> . . . .</div>
        </div>
        <div>
          <p class="border-b border-black font-bold leading-none hover:text-gray-700 hover:border-gray-400 py-3 mr-4 px-4 text-xl">{{pageNumber}}</p>
        </div>
          <div class="flex"  *ngFor="let _ of [].constructor(pageTotal) let i = index">
            <div (click)="goPage(i+1)" *ngIf="pageNumber <= i && (i+ 2 >=  pageTotal || i<pageNumber+2)"
              class="hover:border-b  cursor-pointer hover:text-gray-700 hover:border-gray-400 py-3 mr-4 px-4">{{i+1}}</div>
              <div class="w-5 mt-4" *ngIf="i==pageNumber+3  && (i+ 2 <=  pageTotal && i>pageNumber+2)"> . . . .</div>
          </div>
      </div>
      <div (click)="goPage(pageNumber+1)" class="text-gray-600 hover:text-gray-700 cursor-pointer">
          <button [disabled]="pageNumber==pageTotal" class="flex items-center">
            <span class="text-sm font-medium leading-none mr-3 ml-auto">Next</span>
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
          </button>
      </div>
  </div>
</div>
