
<div class="md:max-w-6xl py-8 mx-auto mt-20">
  <div class="mt-10">
    <div class="accordion-button p-0 border-b">
      <div class="flex w-full justify-between items-center rounded-lg">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5">
          <i class="fa-solid fa-tags text-3xl mr-6"></i>Categories</h1>
          <div class="flex gap-4">
            <div class="relative flex items-center w-full h-12 rounded-lg shadow-2xl bg-white overflow-hidden pl-5">
              <div class="w-3" (click)="Clear()">
                <i class="fa-solid fa-xmark" *ngIf="search.length>0"></i>
              </div>
              <input class="h-full pl-3 w-full outline-none text-sm text-gray-700 pr-2"
              type="text" id="search" (input)="onInputChange($event)"  [(ngModel)]="search" placeholder="Search something.." />
              <button  (click)="Search()" class="bg-gray-700 hover:bg-gray-500 rounded-md text-white text-xl p-3 border ">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
          </div>
            <div class="min-w-36 border block px-5 py-3 text-sm hover:text-white hover:bg-gray-700 rounded-md text-center bg-white" (click)="toggleWindow(buttonVisible)" >
              <div *ngIf="buttonVisible">
                Add Category<i class="fa-solid fa-plus pl-1"></i>
              </div>
              <div *ngIf="!buttonVisible" class="text-red-500">
                Close <i class="fa-solid fa-cancel pl-1"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div
    id="accordion2"
    class="relative transition-all duration-700">
      <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()"  *ngIf="!buttonVisible"
      class="w-3/5 mt-8 mx-auto bg-white p-10 rounded-2xl shadow-lg">
        <input type="text" class="hidden" formControlName="id">
        <input type="hidden" formControlName="action" />
        <input type="createdAt" class="hidden" formControlName="createdAt">
        <div class="mb-5">
          <div class="flex">
            <label for="name" class="min-w-24 mt-3">Name</label>
            <input id="name" type="text" class="mt-1 p-2 w-full border  rounded-lg text-gray-800 outline-none" formControlName="name">
          </div>
          <div>
            <span class="text-red-500 absolute text-sm pl-28"
             *ngIf="(name?.invalid && (name?.touched || isSubmitted))">
              <small *ngIf="name?.hasError('required')">Name is required. </small>
              <small *ngIf="name?.hasError('minlength')">Name must be at least 5 characters long.</small>
            </span>
          </div>
        </div>
        <div class="mb-5">
          <div class="flex">
            <label for="color" class="min-w-24 mt-3">Color</label>
          <input id="color" type="text" class="mt-1 p-2 w-full border  rounded-lg text-gray-800 outline-none" formControlName="color">
          </div>
          <div>
            <span class="text-red-500 absolute text-sm pl-28"
             *ngIf="(color?.invalid && (color?.touched || isSubmitted))">
             <small *ngIf="color?.hasError('required')">Color is required. </small>
             <small *ngIf="color?.hasError('isValid')">Color must start with # and be a valid hex code.</small>
            </span>
          </div>
        </div>
        <div class="mb-6">
          <div class="flex">
            <label for="iconCssClass" class="min-w-24 mt-3">Css Class</label>
            <input id="iconCssClass" type="text" class="mt-1 p-2 w-full border  rounded-lg text-gray-800 outline-none" formControlName="iconCssClass">
          </div>
        </div>
        <div class="pl-[6rem]">
            <div class="w-full flex">
              <button (click)="setAction('edit')" type="submit" *ngIf="hasValidId" class="block w-full px-4 py-2 mr-2 text-sm hover:bg-white bg-gray-200 border rounded-lg text-center">
                <span> Edit <i class="fa-solid fa-pen-to-square"></i></span>
              </button>
              <button (click)="setAction('add')" type="submit" *ngIf="!hasValidId" class="block w-full px-4 py-2 mr-2 text-sm hover:bg-white bg-gray-200 border rounded-lg text-center">
                <span> Add <i class="fa-solid fa-add"></i></span>
              </button>
              <button (click)="setAction('delete')"  *ngIf="hasValidId" class="block w-full px-4 py-2 mr-2 text-sm hover:bg-white bg-gray-200 border rounded-lg text-center"> Delete <i class="fa-solid fa-trash"></i> </button>
            <button class="block w-full px-4 py-2 text-sm hover:bg-white bg-gray-200 border rounded-lg text-center" (click)="cancel()" *ngIf="hasValidId || categoryForm.dirty"> Clear <i class="fa-solid fa-cancel"></i> </button>
        </div>
        </div>
        </form>
  </div>
  <div class="flex items-start px-5 pb-2 border-b mb-5 mt-16">
    <span class="w-1/12 text-center">
      <input type="checkbox"/>
    </span>
    <span class="w-1/12 text-center">
      <span class="text-xs uppercase text-gray-600 font-bold">serial number</span>
    </span>
    <span class="w-1/5 text-center">
      <span class="text-xs uppercase text-gray-600 font-bold">name</span>
    </span>
    <span class="w-1/5 text-center">
      <span class="text-xs uppercase text-gray-600 font-bold">color</span>
    </span>
    <span class="w-1/5 text-center">
      <span class="text-xs uppercase text-gray-600 font-bold">css</span>
    </span>
    <span class="w-1/5 text-center">
      <span class="text-xs uppercase text-gray-600 font-bold">Created At</span>
    </span>
    <div class="w-1/6 text-center"> </div>
  </div>
  <div id="categories" class="space-y-5 h-[67vh] overflow-scroll">
    @defer ()  {
    <div *ngFor="let c of categories let i = index" >
    <div class="flex border items-center px-4 p-3 shadow rounded-md  bg-white" *ngIf="c.id!=0" [ngClass]="(c.id==id?.value)?' border-[#5f5f5f7c] shadow-xl':''">
      <span class="w-1/12 text-center">
        <input type="checkbox" class="contact-checkbox mr-4">
      </span>
      <span class="w-1/12 text-center">
        {{ i + 1 }} - {{ c.id}}
      </span>
      <span class="w-1/5 text-center">
        <a routerLink="/product/product-list/{{c.id}}"
        class="hover:underline hover:text-gray-600">{{c.name}}</a>
      </span>
      <span class="w-1/5 text-center">
        <div
        class="inline-block rounded-md
        mb-3 mx-2 capitalize text-sm min-w-20 mt-3 p-2 font-medium"
        [ngStyle]="{
          'background-color': colorOpacity(c?.color!),
          'color': c?.color,
          'border-color': c?.color,
          'border-width': '1px',
          'border-style': 'solid',
        }"> {{ c?.color }} </div>
      </span>
      <span class="w-1/5 text-center">
        <span class="text-xs text-gray-600 font-bold">{{ c?.iconCssClass?? '___'}}</span>
      </span>
      <span class="w-1/5 text-center">
        <span class="text-xs text-gray-600 font-bold">
          {{ c?.createdAt | date: 'dd-mm-yyyy' }}
          {{ c?.createdAt | date: 'h:mm:ss' }}
        </span>
      </span>
      <span class="w-1/6">
        <div *ngIf="c.id != 0" class="flex items-center justify-center">
        <button class="block mx-1 px-2 py-2 border text-sm hover:text-white hover:bg-gray-700 rounded-md text-center w-14" (click)="editCategory(c?.id ?? 0)">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        </div>
      </span>
    </div>
    </div>
    <div *ngIf="categories.length == 0" class="bg-white text-center mt-4 p-8 rounded-md shadow border">
        <i class="fa-solid fa-xmark"></i>
        No categories available.
    </div>

    } @placeholder (minimum 1s) {
      <div class="pt-10 flex justify-center items-center">
        <i class="fa-solid fa-spinner text-5xl animate-spin text-gray-500 mr-5"></i> Loading..
      </div>
    }
  </div>
  <pagination (newPageNumber)="getPageNumber($event)"
  [pageNumber]="pageNumber" [pageTotal]="pageTotal"
  *ngIf="categories.length != 0 && pageTotal>1"/>
</div>



