
<div class="min-h-[90vh] mt-32 mx-auto max-w-7xl">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 p-5 mt-24">Favorites Popular</h1>
  <hr class="divide">
  <section aria-labelledby="products-heading" class="pt-6 pb-24">
    <h2 id="products-heading" class="sr-only">Products</h2>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-10 lg:grid-cols-4 pb-20 p-10">
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
      <app-p></app-p>
    </div>
    <app-pagination></app-pagination>
  </section>
  <app-recently-viewed></app-recently-viewed>
  <app-most-popular></app-most-popular>
</div>
