<div class="">
  <div class="fixed top-0 z-50 w-full">
    <banners class="md:mb-12  z-50"/>
    <nav class="bg-gray-800 shadow-md shadow-[#00000057]">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex shrink-0 items-center sm:hidden pl-2 p-4 cursor-pointer" (click)="showOrHide = !showOrHide">
            <i class="fa-solid fa-bars text-white text-xl"></i>
          </div>

          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex shrink-0 items-center">
              <a routerLink="/" class="text-white text-xl" >S T O R E</a>
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <div class="relative group/categories">
                  <div class="">
                    <button routerLink="/product/product-list/0" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md p-3 py-5 text-sm font-semibold shadow-sm text-gray-300" id="menu-button" aria-expanded="true" aria-haspopup="true">
                      Categories
                      <i class="fa-solid fa-caret-down mt-1"></i>
                    </button>
                  </div>

                  <div class="absolute rounded-xl p-2 left-0 z-10 mt-2 w-56 top-[3rem] origin-top-right bg-white shadow-lg hidden group-hover/categories:block" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="my-2 border rounded-lg" role="none"  *ngFor="let category of categories"
                    [ngStyle]="{
                      'background-color': colorOpacity(category.color),
                      'border-color': colorOpacity(category.color)
                    }" >
                      <a *ngIf="category.id != 0" routerLink="/product/product-list/{{ category.id}}" class="block px-4 py-2 text-sm text-gray-700 text-[{{category.color}}]" role="menuitem" tabindex="-1" id="menu-item-0"
                      [ngStyle]="{
                        'color': category.color
                      }">{{ category.name }}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

            <div class="hidden sm:block px-6 py-2 mr-5 text-sm text-white hover:bg-gray-700">
              {{username}}
            </div>
            <a routerLink="/account/register" class="hidden sm:block px-6 py-2 mr-5 text-sm text-white hover:bg-gray-700 border rounded-[1.5rem]" *ngIf="!isAuthenticated" >
                <i class="fa-solid fa-user-plus pr-1"></i>
                Sign Up
            </a>
            <a routerLink="/account/login" class="hidden sm:block px-6 py-2 mr-5 text-sm bg-gray-200 hover:bg-gray-400 rounded-[1.5rem]" *ngIf="!isAuthenticated" >
              <i class="fa-solid fa-right-to-bracket pr-1"></i>
              Sign In
            </a>
            <a routerLink="/admin" class="hidden sm:block px-6 py-2 mr-5 text-sm text-white hover:bg-gray-700 border rounded-[1.5rem]" *ngIf="isAuthenticated && roleId == 1" >
              <i class="fa-brands fa-microsoft pr-1"></i>
              Admin Panel
            </a>
            <a routerLink="/" class="hidden sm:block px-6 py-2 mr-5 text-sm  bg-gray-200 hover:bg-gray-400 rounded-[1.5rem]" (click)="logout()" *ngIf="isAuthenticated" >
              <i class="fa-solid fa-right-to-bracket rotate-180 pl-1"></i>
              Sign Out
            </a>
            <div class="flex items-center relative">
              <div *ngIf="searchVisible">
                <input [(ngModel)]="search" class="px-2 mr-2 py-1 pr-7 w-52 rounded-lg bg-gray-700 text-white border-white" type="text" name="search" id="search" placeholder="Search Products ...">
                <i (click)="Close()" *ngIf="search.length>0" class="fa-solid fa-xmark text-2xl absolute right-14 top-0 text-white p-1 cursor-pointer"></i>
              </div>
              <div (click)="Search()" id="search-link" class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                <i class="fa-solid fa-magnifying-glass text-xl"></i>
              </div>
            </div>
            <a *ngIf="isAuthenticated" (click)="clickCart()" class="rounded-md px-3 py-2 text-xl font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a *ngIf="isAuthenticated" (click)="clickFav()" class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              <i class="fa-solid fa-cart-shopping text-xl"></i>
            </a>

            <div *ngIf="isAuthenticated" class="relative ml-3 group">
              <div>
                <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <img class="size-8 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                </button>
              </div>
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right py-1">
              <div class="group-hover:block hidden border p-2 bg-white rounded-lg shadow-lg">
                  <a *ngIf="isAuthenticated" routerLink="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">
                    <i class="fa-solid fa-user"></i>
                      Your Profile
                  </a>
                  <a *ngIf="isAuthenticated && roleId == 1" routerLink="/admin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                    <i class="fa-brands fa-microsoft"></i>
                    Admin Panel
                  </a>
                  <a *ngIf="isAuthenticated" routerLink="/order" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">
                    <i class="fa-solid fa-paper-plane"></i>
                      Orders
                  </a>
                  <a *ngIf="isAuthenticated" routerLink="/cart" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">
                    <i class="fa-solid fa-bag-shopping"></i>
                      Carts
                  </a>
                  <a *ngIf="isAuthenticated" routerLink="/fav" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">
                    <i class="fa-solid fa-heart"></i>
                      Favorites
                  </a>
                <a *ngIf="isAuthenticated" routerLink="/profile/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                  <i class="fa-solid fa-gear"></i>
                    Settings
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full p-5 shadow-md border-t border-gray-600" [ngClass]="(showOrHide)?'hidden':'block'">
          <div *ngFor="let category of categories">
            <a *ngIf="category.id != 0" routerLink="/product/product-list" class="block px-4 py-2 text-sm rounded-md text-white hover:text-black hover:bg-gray-100 mx-2" role="menuitem" tabindex="-1" id="menu-item-0">{{ category.name }}</a>
            </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<add-fav *ngIf="favVisible" (isFavVisible)="changeFavVisible($event)"/>
<add-carts *ngIf="cartVisible" (isCartVisible)="changeCartVisible($event)"/>
<alerts *ngIf="isAuthenticated"/>



